body{
	background:#ffe6b3;
}

#home,#menu1,#menu2,#menu3
{
	background-color: #ffb3e6;
	padding: 20px 20px;
	min-width: 100%;
}
#image-grid > ul > li
{
	display:inline-block;
	padding-left: 20px;
}


.content_collapsing
{	
	font-size: large;
	color: blue;
	padding: 10px 10px;
}

#panel_accordion
{
	padding-top: 20 px;
}

#top-menu li a 
{
background-color:brown;
color:#fff;
font-size: large;
font-weight: bold;
box-sizing: 
}

#top-menu li a:hover,
#top-menu li a:focus
{
background-color:green;
color:black;
}
